body { 
    color: #333333;
    background-color: #dfd7b9;
    font-family: Arial, Helvetica, sans-serif;
  }

.job-title {
    color: aliceblue;
    background-color: #1726ad;
    font-size:20px;
    font-weight: bold;
    padding:  5px 10px 5px 10px;
  }

#high {
    color:#4169e1;
   
  }
  
  h1 {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color:#0d1b97;
    font-size: 40px
  }
  
  #info{
    color:#bbd12bd2;}
ul{
    padding: 10px;
    background-color: #333333;
}
h2{
    font-size: 20px
}